// Heading Color
$heading: #000000;

// Text Color
$text: #6e6e6e;

// Gray Background
$bg-gray: #f6f9f9;

// Primary Color
$primary: #0C479D;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;

// Border Color
$border: #e5e5e5;

// Hover Color
$hover: #0C479D;

// Secondary Color
$secondary: #acacac;
